<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            theme: { extend: {} },
            plugins: [],
        };
    </script>

    <title>
        <%= title %>
    </title>
</head>

<body class="min-h-screen bg-[#F5E9DA]">

    <!-- HEADER -->
    <%- include("../partials/admin/header") %>

        <!-- PAGE WRAPPER -->
        <div class="flex">

            <!-- SIDEBAR (fixed) -->
            <div class="fixed top-[70px] left-0 w-[250px] h-[calc(100vh-70px)] bg-white border-r">
                <%- include("../partials/admin/sidebar") %>
            </div>

            <!-- MAIN CONTENT -->
            <main class="flex-1 ml-[260px] pt-28 px-6 bg-[#F5E9DA]">
                <%- include(body) %>
            </main>
        </div>
</body>
</html>