<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/usercss/forgot-password.css" />
</head>

<body>
  <div class="forget-password">
    <div class="container">
      <div class="div">
        <div class="container-2">
          <div class="heading">
            <div class="luxe-co">Luxe &amp; Co</div>
          </div>
          <div class="container-3">
            <!-- Login Button -->
            <a href="/user/login" style="text-decoration: none;">
              <div class="div-wrapper">
                <div class="text-wrapper">Login</div>
              </div>
            </a>

            <!-- Sign Up Button -->
            <a href="/user/register" style="text-decoration: none;">
              <div class="container-4">
                <div class="text-wrapper-2">Sign Up</div>
              </div>
            </a>
          </div>
        </div>
        <div class="container">
          <div class="container-5"></div>
          <div class="container-wrapper">
            <div class="container-6">
              <div class="heading-2">
                <div class="text-wrapper-3">Forgot Your Password?</div>
              </div>
              <div class="paragraph">
                <p class="enter-your-email">Enter your email address and we&#39;ll send you a</p>
                <p class="p">link to reset your password.</p>
              </div>
              <div class="form">
                <div class="container-7">
                  <div class="label">
                    <div class="text-wrapper-4">Email Address</div>
                  </div>

                  <input type="email" class="input-field" placeholder="you@example.com" required name="email"
                    id="email-input" />
                </div>
                <button class="button">
                  <div class="text-wrapper-6">Send Reset Link</div>
                </button>
              </div>
              <div class="container-8"></div>
              <div class="paragraph-2">
                <div class="text-wrapper-7">Remembered your password?</div>
                <div class="text"></div>
            <a href="/user/login" style="text-decoration: none;">
              <div class="div-wrapper">
                <div class="text-wrapper-8">Login</div>
              </div>
            </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>