<header class="fixed top-0 w-full bg-[#C8A97E] shadow p-4 flex justify-between items-center z-50">
    <h1 class="text-xl font-semibold text-black-700">Luxe & Co Admin</h1>

    <img src="https://c.animaapp.com/mi8qitnhNI1H79/img/container-1.svg" class="w-8 h-8">
</header>
